<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.mapper.PayLogMapper">
  <resultMap id="BaseResultMap" type="com.feri.domain.PayLog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="oid" jdbcType="INTEGER" property="oid" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oid, money, type, flag, createtime
  </sql>

  <insert id="insert" parameterType="com.feri.domain.PayLog">
    insert into t_paylog ( oid, money,
      type, flag, createtime
      )
    values ( #{oid,jdbcType=INTEGER}, #{money,jdbcType=INTEGER},
      #{type,jdbcType=INTEGER}, #{flag,jdbcType=INTEGER},now()
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.feri.domain.PayLog">
    update t_paylog
    set oid = #{oid,jdbcType=INTEGER},
      money = #{money,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      flag = #{flag,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>